/*all*/

* {
  margin: 0;
  padding: 0;
}

/*4_colores*/

div {
  margin: 5px;
}

/*pintar*/

#ele1 {
  color: white;
  font-size: xx-large;
  text-align: center;
  background-color: green;
  width: 1700px;
  height: 50px;
}

/*teclado*/

#key {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 1px solid black;
}
